body {
  background-color: #B8E8FC;
}

hr {

  border-style: none;
  border-top-style: dotted;
  width: 15%;
  border-color: grey;
  border-width: 5px;
}

img {

  height: 200px;
}

h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
